# exported names
export("read.gnumeric.sheet.info","read.gnumeric.sheet","read.gnumeric.sheets","read.gnumeric.range")

# Import all packages listed as Imports or Depends
import(
  XML
)

importFrom("utils","read.csv")
